@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @white;
@syntax-cursor-color: #535353; // gray
@syntax-selection-color: @selection_grey;
@syntax-background-color: @black;

// Guide colors
@syntax-indent-guide-color: @gray_indent;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @gray;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @white;
@syntax-gutter-text-color-selected: @white;
@syntax-gutter-background-color: @black;
@syntax-gutter-background-color-selected: @selection_grey;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;

// Comment color
@comment-color: @green;
